// color variables 
$bg-color: #EDEEEF;
$white-box: #FFFFFF;
$gray-box: #F5F5F5;
$primary-color: #707070;
$box: red;
$box2: blue;

// fonts variable
$main-font: 'Open Sans', sans-serif;
$h4: .9rem;
$h2: 1.5rem;

//fonts color
$primary-font-color: #606060;
